---
import { getCollection } from 'astro-starlight/utils';

const codePages = await getCollection('content', [
  'guides/code/9Jzpqv.md',
  'guides/code/AxPi9G.md',
  'guides/code/c8L0fq.md',
]);
---

<div>
  <div set:html={codePages['guides/code/9Jzpqv'].body} />
  <div set:html={codePages['guides/code/AxPi9G'].body} />
  <div set:html={codePages['guides/code/c8L0fq'].body} />
</div>